
h1 {
    text-align: center;
    color: white;
    font-size: 6rem;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1260px;
}

.container div {
    width: 400px;
    height: 500px;
    text-align: center;
    background-image: url("heart.jpg");
    background-position: center; 
}

img {
    margin-top: 40px;
    max-width: 500px;
    max-height: 325px;
}